<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a href="https://twitter.com/donaldlschulz" class="mysocial" target="_blank" rel="me"><i class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://www.linkedin.com/in/donald-schulz-6b72833/" class="mysocial" target="_blank" rel="me"><i class="fab fa-linkedin fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://www.thewebweweave.com/" class="mysocial" target="_blank" rel="me"><i class="fab fa-connectdevelop fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://github.com/schulzdl" class="mysocial" target="_blank" rel="me"><i class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            Copyright &copy; 2008 - {{ now.Format "2006"}} by Donald L. Schulz 
             | <a class="mysocial" href="{{ "about" | absURL }}">About</a>
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

        });
    });
    }

    });
</script>
</body>
</html>
