<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
    <link rel="stylesheet" href="{{ "css/styles.css" | absURL }}" />
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <script type='text/javascript'>
        window.__lo_site_id = 270874;
    
        (function() {
            var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
            wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
          })();
    </script>
    <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=c4355205"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4280808260025039"
     crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div>
        
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">
                    Home
                </a>
            
                <a class="navbar-item" href="{{ "/about" | absURL }}">
                    About
                </a>        
            </div>
        
            <div class="navbar-end">
            <div class="navbar-item">
                <div class="is-size-4">                    
                    <strong>Donald on Software</strong>                                   
                </div>
            </div>
            </div>
        </div>
    </nav>

    <!-- hero -->
    <section class="hero is-info is-medium">
        <div class="hero-body" style="background-image: url({{ "img/bg-blog.jpg" | absURL }});">
            <div class="container has-text-centered">
                <br>
                <h1 class="title is-size-1">
                    {{ if eq .Type "tags" }}
                        #{{ .Title }}
                    {{ else if eq .Type "archives" }}
                        Archive {{ .Title }}
                    {{ else }}
                        {{ .Title }}
                    {{ end }}
                </h1>
                {{ if eq .Type "article" }}
                    {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
                {{ end }}
            </div>
        </div>
    </section>
 